name: free-programming-books-lint

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - run: git clone https://github.com/EbookFoundation/free-programming-books.git fpb
    - run: cd fpb && git checkout 0931fa587815d676e0337f319f1ada92739dd28a
    - run: npm ci
    - run: npm run test
    - run: npm run lint
    - run: npm install --global .
    - run: fpb-lint $(pwd)/fpb/books/
    - run: fpb-lint $(pwd)/fpb/casts/
    - run: fpb-lint $(pwd)/fpb/courses/
    - run: fpb-lint $(pwd)/fpb/more/
